In [1]:
from pyspark.sql import SparkSession

#PySpark DataFrame
#Reading The Dataset
#Checking the Datatypes of the Column (Schema)
#Selecting Columns And Indexing
#Check Describe Option Similar to Pandas
#Adding Columns
#Dropping Columns


# Start a Spark session
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [6]:
#Read Dataset
df_pyspark = spark.read.csv('practice.csv', header=True, inferSchema=True)

In [7]:
#Check Shema (make of the table) 
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)

In [8]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [10]:
#Retrieve columns 
df_pyspark.columns

['Name', 'Age']

In [11]:
#Retrieve top k 
df_pyspark.head(5)

[Row(Name='Justin', Age=32),
 Row(Name='Jake', Age=20),
 Row(Name='Amari', Age=40),
 Row(Name='Eric', Age=18)]

In [19]:
#Select column  
column = df_pyspark['Name']
df_pyspark.select(column).show()

+------+
|  Name|
+------+
|Justin|
|  Jake|
| Amari|
|  Eric|
+------+

In [14]:
#select multiple columns
df_pyspark.select(['Age','Name']).show()

+---+------+
|Age|  Name|
+---+------+
| 32|Justin|
| 20|  Jake|
| 40| Amari|
| 18|  Eric|
+---+------+

In [20]:
#Check datatypes 
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int')]